body{
background-color:#eaeaea;
background:url(bg.jpg) no-repeat;
background:url(https://images.unsplash.com/photo-1441484295955-db07de1fdbad?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375) no-repeat;
background-size: 100% 100%;
color:#333;
padding-top:44px;
letter-spacing:2px;
font-family: 'Roboto', sans-serif;
}

a{
color:#406dff;
color:#ff87a3;
text-decoration:none;
padding:10px 15px;display:inline-block;
transition:all .3s ease;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-o-transition:all .3s ease;

}

a:hover{
color:white;
/*background-color:#ff87a3;*/

background-image: -webkit-gradient(
	linear,
	right bottom,
	left bottom,
	color-stop(0, #FFA1B9),
	color-stop(1, #FF406D)
);
background-image: -o-linear-gradient(left, #FFA1B9 0%, #FF406D 100%);
background-image: -moz-linear-gradient(left, #FFA1B9 0%, #FF406D 100%);
background-image: -webkit-linear-gradient(left, #FFA1B9 0%, #FF406D 100%);
background-image: -ms-linear-gradient(left, #FFA1B9 0%, #FF406D 100%);
background-image: linear-gradient(to left, #FFA1B9 0%, #FF406D 100%);


transition:all .3s ease;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-o-transition:all .3s ease;
    
}


a:active{
color:white;
background-color:#ff5980;
transition:none;

background-image: -webkit-gradient(
	linear,
	right bottom,
	left bottom,
	color-stop(0, #FF406D),
	color-stop(1, #FF406D)
);
background-image: -o-linear-gradient(left, #FF406D 0%, #FF406D 100%);
background-image: -moz-linear-gradient(left, #FF406D 0%, #FF406D 100%);
background-image: -webkit-linear-gradient(left, #FF406D 0%, #FF406D 100%);
background-image: -ms-linear-gradient(left, #FF406D 0%, #FF406D 100%);
background-image: linear-gradient(to left, #FF406D 0%, #FF406D 100%);
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-o-transition:all .3s ease;
    
}

a.basic{
text-decoration: none;
color:#406dff;
padding:0;
}

a.basic:hover{
text-decoration:underline;
background-color:transparent;
}

a.basic:active{
background-color:none;    
}

h1{
color:white;text-align:center;text-shadow:4px 4px #ff87a3;
}

div.box{
width:550px;
height:auto;
padding-top:25px;
padding-bottom:25px;
padding-left:10px;
padding-right:10px;
border-radius:5px;
background-color:white;
text-align: left;
border:2px solid #eaeaea;
margin-top:55px;
background-color:white;
    
-webkit-box-shadow: 0px 19px 49px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 19px 49px 2px rgba(0,0,0,0.75);
box-shadow: 0px 19px 49px 2px rgba(0,0,0,0.75);
}


@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px){

body{

padding-top:20px;
padding-left:0%;    
padding-right:0%;    
    
}      
div.box{      
width:90%;
height:auto;
padding-top:25px;
padding-bottom:25px;
padding-left:10px;
padding-right:10px;
background-color:white;
text-align: left;
border:2px solid #eaeaea;
margin-top:55px;      
      
      
  }

  }
